.message-main {
	margin-top: 5px;
	border-top: 1px solid #DDD;
	padding-top: 10px;
}

body {
	 overflow: hidden;
	}

.message-sidebar {
	border-right: 1px solid #DDD;
	border-left: 1px solid #DDD;
	height: 100%;
	border-top: 1px solid #DDD;
}

.message-sidebar .list-group-item {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #DDD;
	margin-bottom: 0;
}

.message-sidebar .list-group-item:last-child {
	border-bottom: none;
}

#message-buttons {
	margin-top: 20px;
}

#select-message-text {
	position: absolute;
	top: 120px;
}

#message-loader {
	margin-top: 120px;
}

.no-messages {
	margin-top: 90px;
}

#sent-loading-div {
	margin-top: 100px;
}

#inbox-message-loading {
	margin-top: 130px;
	width: 100px;
}

@media (max-width: 767px) {

	#message-list-container {
		padding: 0;
	}

	#message-buttons {
		border-bottom: 1px solid #DDD;
		padding: 8px 10px;
		margin-top: 0px;
	}

 }

#system-messages {
	position: absolute;
	display: block;
	width: 100%;
	margin-top: 20px;
	z-index: 400;
}
