

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
	padding-top: 50px;
}

@media (max-width: 767px) {

	body.no-nav {
		padding-top: 0;
	}

}

.watermarked {
	color: #CCC;
}

.loading-div {
	width: 120px;
	margin: 20px auto;
}

.form-footer {
	margin-top: 20px;
	background-color: #EEE;
	border-top: 1px solid #DDD;
	padding: 20px 20px 10px 20px;
}
